.search-card.advanced {
  .filters {
    font-family: var(--secondary-font);
    background-color: white;
    border: 1px solid var(--color-gray);
    border-radius: var(--border-radius-md);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--space-lg);

    .field-filter {
      margin-bottom: var(--space-md);
      display: flex;
      flex-wrap: wrap;
      background-color: var(--background);
      width: 100%;
      padding: var(--space-lg);
      box-shadow: var(--shadow-sm);
      border: 1px solid var(--background);
      border-radius: var(--border-radius-md);

      > * {
        margin-right: var(--space-md);
      }
    }

    .filter-selections {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;

      .span-select {
        margin: 10px 0;
      }
    }

    h3 {
      color: var(--primary-color);
      margin-top: 0;
      font-family: var(--primary-font);
    }

    .span-select label {
      font-weight: 700;
      display: flex;
      align-items: center;

      .primary-select {
        margin: var(--space-sm);
      }
    }

    & .select-wrapper {
      margin-left: 6px;
    }
  }

  .searchbox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    margin-bottom: var(--space-2xl);

    
    & > * {
      margin: .5rem;
    }

    & .select-wrapper {
      width: 100%;
      max-width: 500px;

      .select-container {
        width: 100%;
        min-width: 100%;
      }
    }

    @include onDesktop {
      & .select-wrapper {
        max-width: 300px;
      }

      flex-direction: row;
    }
  }
}
