.book-description {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  margin-bottom: var(--space-lg);
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;

  @include onDesktop {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .book-image {
    border-radius: var(--border-radius-md);
    max-width: 400px;
    margin: 0 auto;
  }

  .index {
    background-color: white;
    border-radius: var(--border-radius-md);
    padding: var(--space-lg);

    ul {
      font-family: var(--secondary-font);
      list-style: none;
      padding-left: 0;

      li:not(:last-child) {
        border-bottom: 1px dashed var(--color-gray);
      }

      & > li {
        font-weight: bold;
        padding: 5px;
      }

      & > li > ul {
        padding-left: 15px;
      }

      & > li > ul > li {
        &:not(:last-child) {
          border-bottom: none;
        }

        font-weight: 400;
        font-size: 14px;
      }
    }
  }
}
