@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./nav.scss";
@import "./mediaQueries.scss";
@import "./select.scss";
@import "./animations.scss";
@import "./paragraph-content.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Bitter", serif;
  --color-text: #000000;
  --primary-color: #00a2c3;
  --secondary-color: #2b4261;
  --background: #f8f8f8;
  --color-gray: #dadada;
  --primary-font: "Bitter", serif;
  --secondary-font: "Roboto", sans-serif;
  --border-radius-sm: 10px;
  --border-radius-md: 25px;
  --border-radius-lg: 50px;
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-2xl: 4rem;
  --space-3xl: 5rem;
  --space-4xl: 8rem;
  --shadow: 0px 5px 25px #00000029;
  --shadow-sm: 0px 3px 6px #00000029;

  color: var(--color-text);
  background-color: var(--background);
  scroll-behavior: smooth;
  scroll-padding-top: 20vh;
}

h1,
h2,
h3 {
  color: var(--secondary-color);
}
a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease;
}
a > * > *,
button {
  transition: all 0.3s ease;
}

* {
  box-sizing: border-box;
}
sup a,
#nota,
#note a,
.paragraph-notes a {
  color: var(--primary-color);
  font-weight: 600;
}
.n-nota {
  color: var(--primary-color);
}

hr {
  border-color: var(--primary-color);
}

.input-container {
  position: relative;

  .input-search-icon {
    position: absolute;
    right: 15px;
    top: 11px;
    content: url("/icons/ico-search.svg");
    width: 18px;
    height: 18px;
  }
}

.title {
  font-size: 18px;

  @include onDesktop {
    font-size: 24px;
  }
}

section.blank-section {
  background-color: white;
  border-radius: var(--border-radius-md);
  margin-bottom: var(--space-lg);
  max-width: 100%;
  padding: var(--space-sm) var(--space-md);
  box-shadow: var(--shadow);

  @include onTablet {
    padding: var(--space-lg) var(--space-2xl);
  }
}

button {
  cursor: pointer;
}

button.primary,
a.primary {
  background-color: var(--primary-color);
  border-radius: var(--border-radius-md);
  border: none;
  min-width: 150px;
  min-height: 40px;
  color: white;
  font-family: var(--secondary-font);
  font-size: 18px;
  padding: 0 var(--space-md);

  @include onTablet {
    min-width: 180px;
    font-size: 20px;
    padding: 0 var(--space-lg);
  }
}

a.primary {
  display: flex;
  align-items: center;
}

button.secondary {
  background-color: transparent;
  border-radius: var(--border-radius-md);
  border: 1px solid var(--color-text);
  min-width: 150px;
  min-height: 40px;
  color: var(--color-text);
  font-family: var(--secondary-font);
  font-size: 18px;
  padding: 0 var(--space-md);

  @include onTablet {
    min-width: 180px;
    font-size: 20px;
    padding: 0 var(--space-lg);
  }
}

.primary-select {
  position: relative;

  select {
    display: none;
  }

  .options {
    position: absolute;
    background-color: var(--background);
    width: max-content;
    border: 1px solid var(--color-text);
    border-bottom-left-radius: var(--border-radius-md);
    border-bottom-right-radius: var(--border-radius-md);
    padding: var(--space-xs) var(--space-sm);

    ul {
      list-style: none;
      padding-left: 0;
    }
  }

  border: 1px solid var(--color-text);
  border-radius: var(--border-radius-md);
  padding: var(--space-sm) var(--space-sm);
  background-color: var(--background);
  color: var(--color-text);
}

a {
  cursor: pointer;
}

mark {
  scroll-margin-top: 100px;
  background-color: #fbfdba;
}

.image-post-menu {
  span {
    overflow: visible !important;
  }
  img {
    box-shadow: 0px 11px 17px rgb(0 0 0 / 10%);
    border-radius: var(--border-radius-sm);
    object-fit: cover;
  }
}

.result p {
  display: inline-block;
}
/* Checkbox custom css*/
.form-control {
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.form-control + .form-control {
  margin-top: 1em;
}

.form-control--disabled {
  color: var(--color-gray);
  cursor: not-allowed;
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--color-white);
  /* Not removed via appearance */
  margin: 0;
  color: currentColor;
  width: 19px;
  height: 19px;
  border: 2px solid var(--primary-color);
  border-radius: 7px;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 12px;
  height: 10px;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--primary-color);
}

input[type="checkbox"]:checked::before {
  transform: scale(1.5);
}

input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

input[type="checkbox"]:disabled {
  --form-control-color: var(--form-control-disabled);

  color: var(--form-control-disabled);
  cursor: not-allowed;
}