@import "./mediaQueries.scss";

.home-page {
  margin-top: var(--space-lg);
}

h1 {
  text-align: center;
}

.books {
  width: 100%;
  max-width: 100%;
  display: flex;
  margin: 0;
  padding: 0;

  align-items: center;
  justify-content: space-evenly;
  min-height: auto;

  @include onDesktop {
    margin-bottom: var(--space-lg);
  }

  @include onLargeDesktop {
    margin-bottom: var(--space-2xl);
  }
}

.image-with-text-overlay {
  flex: 0 0 300px;
  margin: var(--space-md);
  position: relative;
  max-width: 300px;
  margin-bottom: var(--space-2xl);

  @include onTablet {
    max-width: 250px;
  }

  @include onDesktop {
    max-width: 300px;
  }

  @include onLargeDesktop {
    max-width: 350px;
  }

  img {
    pointer-events: none !important;
    border-radius: var(--border-radius-md);
  }

  .text {
    margin: var(--space-xs);
    background-color: white;
    padding: var(--space-sm) var(--space-xs) var(--space-xs);
    border-radius: var(--border-radius-md);
    position: absolute;
    bottom: -20%;
    right: var(--space-md);
    left: var(--space-md);
    text-align: center;
    box-shadow: var(--shadow);

    font-size: 11px;

    .title {
      font-size: 12px;
    }

    &.text-overlay-height-1 {
      height: 120px;
    }

    @include onDesktop {
      padding: var(--space-md);
      margin: var(--space-md);
      &.text-overlay-height-1 {
        height: 150px;
      }

      font-size: inherit;

      .title {
        font-size: inherit;
      }
    }

    @include onLargeDesktop {
      padding: var(--space-lg) var(--space-lg) var(--space-md);
      margin: var(--space-md);
      &.text-overlay-height-1 {
        height: 200px;
      }
    }
  }
}

.section-search {
  min-height: 60vw;

  font-family: var(--secondary-font);

  h2 {
    font-family: var(--primary-font);
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  .simple-search {
    width: 100%;
    max-width: 600px;
    margin: var(--space-md) 0;

    form {
      display: flex;
      justify-content: center;
      flex-direction: column;
      max-width: 400px;
      margin: 0 auto;

      & > * {
        margin: var(--space-sm) 0;
      }
    }
  }

  .advanced-search {
    text-align: center;
    margin-bottom: var(--space-md);

    cursor: pointer;
    padding-bottom: 2px;
    border-bottom: 1px solid var(--color-text);
    font-size: 18px;

    span {
      margin-left: 4px;
    }
  }

  @include onTablet {
    .simple-search {
      form {
        max-width: 100%;
        flex-direction: row;
        & > * {
          margin: 0 var(--space-md);
        }
      }
    }

    .advanced-search {
      font-size: 25px;
    }
  }
}

.section-nichiren-library {
  padding: var(--space-sm) var(--space-md);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  max-width: 800px;
  margin: 0 auto;

  p {
    font-size: 22px;
    line-height: 32px;
    text-align: center;
  }

  @include onTablet {
    padding: var(--space-lg) var(--space-sm);
  }
}
