$grid-breakpoints: (
  xs: 0,
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1536px
);

@mixin onTablet {
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        @content;
    }
}



@mixin onDesktop {
    @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
        @content;
    }
}



@mixin onLargeDesktop {
    @media screen and (min-width: map-get($grid-breakpoints, 'xl')) {
        @content;
    }
}



@mixin onExtraLargeDesktop {
    @media screen and (min-width: map-get($grid-breakpoints, 'xxl')) {
        @content;
    }
}
