@import "./mediaQueries.scss";

nav {
  .mobile-nav-items {

    &.showing {
      animation: show-menu 0.2s;
    }

    &.closing {
      animation: show-menu 0.5s reverse;
    }

    @include onDesktop {
      display: none;
    }

    & a {
      text-align: center;
    }
  }

  .mobileMenu {
    background: none;
    border: none;

    svg {
      height: 40px;
      width: 40px;
    }
  }

}

.mobileMenu {

  .ham {
    position: absolute;
    left: 0;
    top: 0;
    height: 2px;
    width: 27px;
    border-radius: 20px;
    background-color: #0e3933;
    display: block;
    position: relative;
    opacity: 1;
    transition: all 0.4s;
  }

  .ham:first-child {
    top: -8px;
  }

  .ham:last-child {
    top: 8px;
  }

  &.open .ham:first-child {
    transform: translateY(11px) rotate(45deg);
  }

  &.open .ham:last-child {
    transform: translateY(-12px) rotate(-45deg);
  }

  &.open .ham:nth-child(2) {
    height: 0;
    width: 0;
    opacity: 0;
  }
}

@keyframes show-menu {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
