@import "./mediaQueries.scss";

.post {
    display: grid;
    gap: var(--space-lg);
    grid-template-areas: 'title' 'menu' 'content';

    @include onDesktop {
        grid-template-areas: 'title title' 'content menu';
    }

    .post-content {
        grid-area: content;
    }

    .post-menu {
        grid-area: menu;

        
        @include onDesktop {
            width: 400px;
        }
    }


    h2 {
        grid-area: title;
    }

    

    .gosho-list {     
        position: absolute;
        bottom: 10px;
        right: 4px;
        left: 24px;
        top: 100px;               
        flex-wrap: nowrap;
        font-size: 16px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}