@import "./mediaQueries.scss";

.search-card {
  border-radius: var(--border-radius-md);
  background-color: var(--background);
  padding: var(--space-3xl) var(--space-2xl);
  margin: var(--space-lg) 0 var(--space-2xl);
  box-shadow: var(--shadow-sm);
  width: 100%;
  text-align: center;

  label {
    font-family: var(--primary-font);
    cursor: pointer;
  }

  @include onDesktop {
    min-width: 600px;
  }

  .checkboxes > * {
    margin-right: var(--space-lg);
  }

  input[type="checkbox"] {
    margin-right: var(--space-sm);
    cursor: pointer;
  }

  .span-checkbox label {
    display: flex;
    flex-wrap: wrap;
  }

  .checkboxes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
