input.search-input {
    width: 100%;
    border-radius: var(--border-radius-lg);
    border: 1px solid var(--color-text);
    padding: 4px var(--space-md) 0;
    max-width: 500px;
    min-height: 30px;

    &::placeholder {
        color: var(--color-text);
        font-size: 18px;
        font-family: var(--secondary-font);
    }
}